.App {
  text-align: center;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.title-home {
    text-align: center;
    text-decoration: underline;
    color: rgb(22, 230, 43);
    font-family: 'Press Start 2P';
    font-size: 16px;
    margin-top: 50px;
}