/*NavBar*/
.App {
  text-align: center;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
}

/*Icono del carrito*/
.css-1mhxotf-MuiSvgIcon-root{
  margin-right: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.title-home{
  text-align: center;
  text-decoration: underline;
  color: rgb(16, 145, 25);
  font-family: 'Press Start 2P';
  font-size: 16px;
  margin-top: 50px;
}